div#dashboard-statistics .col-md-3 .label {
    width: 100%;
    display: block;
    height: 120px;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
}
div#dashboard-statistics .col-md-3 .label i{
	position: absolute;
	bottom: -25px;
	left: -10px;
	font-size: 100px;
	opacity: 0.2;
}

div#dashboard-statistics .col-md-3 .label h1.text-right {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 25px;
}
div#dashboard-statistics .col-md-3 .label span.pull-right {
    font-size: 14px;
    opacity: 0.6;
}

#activities .activities-content {
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#activities .activities-content h4{
    font-weight: 400;
}

#activities span.media-heading.h4 small {
    font-size: 12px;
    opacity: 0.68;
}

#activities .media-left a {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: block;
    border-radius: 50%;
}

#activities .media-left a img {
    width: 40px;
    height: auto;
}

#activities .media .media a.media-action {
    text-transform: uppercase;
    color: #333;
    opacity: 0.8;
    font-size: 12px;
    margin-right: 15px;
}

#activities .activities-content > .media:not(:nth-last-child(2)) {
    border-bottom: 1px solid #ddd;
}

#activities .activities-content > .media{
    padding-bottom: 20px;
    margin-top: 20px;
}

#activities .activities-content .activities-footer {
    margin: 0 -15px;
    margin-bottom: -10px;
    padding: 15px;
    background: #eee;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 10px;
    width: calc(100%);
}

.feed-content{
    padding: 0px;
}
.feed-content li {
    height: 50px !important;
    line-height: 50px;
    padding: 10px;
    color: #ddd;
}
.feed-content li a{
    color: #ababab;
}
.feed-content li a .col-xs-2 .label.img-circle {
    width: 25px !important;
    height: 25px !important;
    margin-top: 5px;
    padding: 8px;
}
.empty-content h4{
    font-weight: 400;
}

