/**
 * Autho: datnt
 * Date: 10:00 PM 30-8-2018;
 */
*, html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
/*HEADER*/
header#header {
    width: 100%;
    padding: 0 15px;
    display: block;
    height: 65px;
    background-color: #2196f3;
    color: #fff;
}
header#header .header-sidebar {
    width: 220px;
    float: left;
    display: block;
    font-size: 18px;
    line-height: 65px;
    height: 65px;
    color: #e7f4fe;
    border-right: 1px solid #5baaef;
}
header#header .menu {
    width: calc(100% - 220px);
    line-height: 65px;
    height: 65px;
    display: block;
    float: left;
    padding-left: 15px;
}
header#header .menu nav {
    height: 65px;
    width: 100%;
    line-height: 65px;
    display: block;
}
header#header .menu nav .nav-left.pull-left {
    height: 65px;
    overflow: hidden;
    line-height: 65px;
    width: 40%;
}
header#header .menu nav .nav-left.pull-left label.toggle-menu-btn span {
    width: 15px;
    background-color: rgba(229, 229, 229, 0.86);
    height: 3px;
    display: block;
    margin-bottom: 2px;
    border-radius: 2px;
}
header#header .menu nav .nav-left.pull-left label.toggle-menu-btn {
    float: left;
    line-height: 65px;
    height: 65px;
    padding-top: 25px;
    cursor: pointer;
}

header#header .menu nav .nav-left.pull-left form {
    height: 65px;
    line-height: 65px;
    width: 250px;
    float: left;
    padding-top: 15px;
    margin-left: 30px;
    position: relative;
}

header#header .menu nav .nav-left.pull-left form input.form-control {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    outline: none;
    color: inherit;
    border-radius: 3px;
    padding-right: 40px;
}

header#header .menu nav .nav-left.pull-left form input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  /*text-shadow: 0 0 0;*/
}
header#header .menu nav .nav-left.pull-left form input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  /*text-shadow: 0 0 0;*/
}
header#header .menu nav .nav-left.pull-left form input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  /*text-shadow: 0 0 0;*/
}
header#header .menu nav .nav-left.pull-left form input.form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  /*text-shadow: 0 0 0;*/
}
header#header .menu nav .nav-left.pull-left form span.glyphicon.glyphicon-search {
    position: absolute;
    right: 20px;
    top: 25px;
    color: rgba(231, 244, 254, 0.8);
    font-size: 12px;
}

header#header .menu nav .nav-right.pull-right {
    width: 60%;
    height: 65px;
    line-height: 65px;
    display: inline-block;
    position: relative;
}
header#header .menu nav .nav-right.pull-right ul {
    display: inline-block;
    padding: 0;
    height: 65px;
    line-height: 65px;
    position: relative;
}
header#header .menu nav .nav-right.pull-right ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0 10px;
}

header#header .menu nav .nav-right.pull-right ul li label {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    /*text-shadow: 0 0 0;*/
}

header#header .menu nav .nav-right.pull-right ul li button.btn.btn-warning.text-uppercase {
    border-radius: 2px;
    font-size: 13px;
    /*text-shadow: 0 0 0;*/
    height: 35px;
    line-height: 16px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu{
	transition: all 0.2s;
	transform: scale(0);
    overflow: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    right:0;
    height: auto;
    z-index: +10;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li,
.feed-content li:not(:last-child){
    list-style: none;
    display: block;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eee;
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li:hover{
    background-color: #fdf6f6;
}
header#header .menu nav .nav-right.pull-right ul li input[type='checkbox']:checked + ul.sub-menu{
	position: absolute;
	display: inline-block;
    padding: 0;
    width: 270px;
    transform: scale(1);
    top: 65px;
    background: #fff;
    right:0;
    opacity: 1;
    display: block;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px #ddd;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li a {
    width: 100%;
    max-height: 50px;
    display: inline-block;
    color: #999;
    line-height: normal;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li a .msg-avatar.col-xs-2 {
    padding-left: 0;
    padding-right: 0;
    height: 45px;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li a .msg-avatar.col-xs-2 img.img-circle {
    width: 40px;
    height: 100%;
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li a .msg-content {
    font-size: 12px;
    padding-right: 0;
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li a .msg-content .msg-content-text.text-left {
    padding-top: 5px;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li a .msg-content .msg-content-header span.pull-right {
    font-size: 12px;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li a .msg-content .msg-content-header.clearfix strong {
    color: #333;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li:last-child {
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #fdf6f6;
    border-bottom: 0;
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu li:last-child a {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-decoration: none;
    /*text-shadow: 0 0 0;*/
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu.sub-alert-content li,
.feed-content li {
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    padding: 0;
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu.sub-alert-content li a,
.feed-content li a {
    line-height: 38px;
    height: 38px;
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu.sub-alert-content li a .col-xs-2,
.feed-content li a .col-xs-2 {
    padding-right: 0;
}
header#header .menu nav .nav-right.pull-right ul li ul.sub-menu.sub-alert-content li a .col-xs-2 .label.img-circle,
.feed-content li a .col-xs-2 .label.img-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 5px 0px;
    display: block;
    margin-top: 10px;
    font-size: 11px;
}

header#header .menu nav .nav-right.pull-right ul li ul.sub-menu.sub-alert-content li a .col-xs-10,
.feed-content li a .col-xs-10 {
    padding-left: 0;
}
header#header .menu nav .nav-right.pull-right ul li label.active {
    color: rgba(231, 244, 254, 0.53);
    position: relative;
}
header#header .menu nav .nav-right.pull-right ul li label.active:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: orange;
    display: block;
    position: absolute;
    top: 17px;
    right: -5px;
    border-radius: 10px;
}


/** 
 * SIDEBAR
 */
.sidebar {
    width: 235px;
    height: calc(100vh - 65px);
    border-right: 1px solid #eee;
    box-shadow: 0 0 2px #777;
    overflow-y: auto;
    float: left;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
}

.sidebar .sidebar-header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgba(238, 238, 238, 0.48);
    padding-top: 20px;
}

.sidebar .sidebar-header span.arrow-down {
    border: 4px solid transparent;
    border-top-color: #777;
    padding-top: 0;
    margin-left: 3px;
    margin-bottom: -2px;
    display: inline-block;
    position: relative;
}

.sidebar .sidebar-header label.text-muted {
    width: 100%;
    display: inline-block;
    color: #777;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.sidebar .sidebar-header .col-xs-4 .avatar {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    margin-top: -5px;
}

.sidebar .sidebar-header .col-xs-4 .avatar img {
    height: auto;
    width: 45px;
}

.username.col-xs-8 {
    padding-left: 5px;
}
.main-menu ul.sidebar-submenu{
    display: none;
    transform: scale(0);
    opacity: 0;
    visibility: none;
    transition: all 0.2s;
    height: 0;
    width: 100%;
    padding-left: 0px;
}
.main-menu input[type="checkbox"]:checked + ul.sidebar-submenu{
    display: block;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    height: auto;
}

.main-menu ul.sidebar-submenu li, 
.main-menu ul.sidebar-menu li{
    list-style: none;
    padding: 12px 0px;
    padding-left: 20px;
    position: relative;
}

.main-menu ul.sidebar-submenu li:hover, 
.main-menu ul.sidebar-menu li:hover,
.main-menu ul.sidebar-submenu li.active, 
.main-menu ul.sidebar-menu li.active{
    background-color: rgba(238, 238, 238, 0.48);
}
.main-menu ul.sidebar-submenu li:hover:before, 
.main-menu ul.sidebar-menu li:hover:before, 
.main-menu ul.sidebar-submenu li.active:before, 
.main-menu ul.sidebar-menu li.active:before {
    content: '';
    width: 2px;
    background-color: orange;
    position: absolute;
    left: 0px;
    display: block;
    height: 100%;
    top: 0;
}

.main-menu ul.sidebar-submenu li a, 
.main-menu ul.sidebar-menu li a, 
.main-menu ul.sidebar-submenu li a:hover {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 0px;
    text-decoration: none;
}

.main-menu ul.sidebar-submenu li a i.fa,
.main-menu ul.sidebar-menu li a i.fa,
.main-menu ul.sidebar-menu li label i.fa{
    color: #777;
    margin-right: 20px;
    font-size: 16px; 
}

span.menu-name {
    width: 100%;
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
}

.main-menu ul.sidebar-menu{
    width: 100%;
    padding-left: 0px;
}

.main-menu ul.sidebar-menu li{
    list-style: none;
    padding: 12px 0px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.main-menu ul.sidebar-menu li ul.sidebar-submenu li:hover,
.main-menu ul.sidebar-menu li ul.sidebar-submenu li:hover{
    background-color: transparent;
}

.main-menu ul.sidebar-menu li ul.sidebar-submenu li:hover:before{
    display: none;
}

.main-menu ul.sidebar-menu li ul.sidebar-submenu li {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.main-menu ul.sidebar-menu li ul.sidebar-submenu li a{
    font-weight: 400;
}

.main-menu ul.sidebar-menu li label {
    width: 100%;
    cursor: pointer;
    font-size: 13px;
}

.main-menu ul.sidebar-menu li.has-submenu:after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #333;
    display: block;
    position: absolute;
    top: 15px;
    border-radius: 2px;
    right: 20px;
    border-top: 0;
    transform: rotate(45deg);
    border-left: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt--7-5{
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.mt--7-5 > div > div{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px #ccc;
    padding: 15px;
}

.mt--7-5 > div{
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.mt--7-5 > div > div > h4{
    font-weight: 400;
}

.btn{
    border-radius: 2px!important;
    font-size: 12px;
    font-weight: 500;
    padding-top: 11px;
    outline: none !important;
}

.btn-primary{
    background-color: #2196f3;
    border-color: #2196f3;
}


.main-content {
    float: left;
    width: calc(100% - 235px);
    height: calc(100vh - 65px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
    font-weight: 300;
}


.title,
.title small {
    font-weight: 300;
}
.custom-alert > div {
    padding: 25px 25px !important;
    position: relative;
    font-size: 13px;
}

.custom-alert > div:before {
    content: '';
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
}
.custom-alert.custom-alert-primary > div:before {
    background: #2196f3;
}

.table>thead>tr>th{
    font-weight: bold;
    color: #777;
    border-color: #eee;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 10px;
    border-color: #eee;
}

.pull-right.pagination-wrapper {
    height: 50px;
    line-height: 50px;
    min-width: 300px;
    display: inline-block;
    text-align: right;
    margin-bottom: 15px;
}

.pull-right.pagination-wrapper strong {
    display: inline-block;
    float: right;
    padding-top: 11px;
    padding-left: 15px;
}