.tab-pane#link8 > label{
	margin: 5px;
	border: 1px dashed rgba(249, 99, 50, 0.52);
	border-radius: 5px;
	cursor:pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.tab-pane#link8 > label:hover{
	-webkit-box-shadow: 5px 5px 20px rgba(249, 99, 50, 0.52);
	-moz-box-shadow: 5px 5px 20px rgba(249, 99, 50, 0.52);
	-o-box-shadow: 5px 5px 20px rgba(249, 99, 50, 0.52);
	box-shadow: 5px 5px 20px rgba(249, 99, 50, 0.52);
}

.tab-pane#link8 > label.active:before {
    content: '\ea22';
    background-color: #f96332;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    font: normal normal normal 14px/1 Nucleo Outline;
    color: #fff;
    text-align: center;
    padding-top: 9px;
}
.tab-pane#link8 > label.active {
    border: 2px solid rgba(249, 99, 50, 0.52);
    position: relative;
}
.tab-content.tab-subcategories {
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    max-height: 400px;
    overflow-y: auto;
}
