element {
    --text-default-color: #f7a070;
    --btn-text-default-color: #f7a070;
    --btn-border-default-color: #f7a070;
    --input-border-default-color: #f7a070;
    --input-bg-default-color: #f7a070;
}